<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Check the current year
    </h1>
    
    {% if current_year %}
      <h3>
        It is {{ current_year }}
      </h3>
    {% else %}
    <h4>
        It is not {{ current_year }}
    </h4>
    {% endif %}
    <p>
      we're in {{ present_year }}
    </p>
    <br>
    <br>
    <h5>Thanks for using our service!!</h5>
</body>
</html>