{% extends "blog/base.html" %}
{% block title %}
Login 
{% endblock %}
{% block content %}
<h4>Login</h4>
{% for message in messages %}
  {{ message }}
{% endfor %}
<form method="POST" action = "{% url 'user_login' %}" >
  {% csrf_token %}
  <input type="text" placeholder="Username" name = "username" >
  <input type = "password" placeholder = "password" name = "password" >
  <button type="submit" > Login </button>
</form>
<p>
  Want to know more about the site ? <a href="{% url 'about' %}">visit About page </a>
</p>
{% endblock %}