<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pricing</title>
</head>
<body>
    <h1>
        Blog: Pricing
    </h1>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro fugiat assumenda voluptatibus quaerat maiores? Magni repellendus odit quas incidunt fuga, a iure? Fuga, sit? Eaque iste veritatis non inventore eveniet.
    </p>
    <button>Start Now</button>
</body>
</html>