{% extends 'blog/base.html' %}
{% load static %}
                             
{% block title %}Account Settings | My Django Blog{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/settings.css' %}?v={{css_latest}}">
{% endblock %}

{% block content %}
<!--LOAD SETTINGS-->
{{ user_preference|json_script:"user_settings_config" }}
{{ supported_languages|json_script:"supported_languages" }}
{{ supported_font_families|json_script:"supported_fonts" }}
{{ supported_theme_mode|json_script:"supported_themes" }}
{{ supported_font_sizes|json_script:"supported_font_sizes" }}

<div class="settings-container">
    <header class="settings-header">
        <h1>Display & Language Settings</h1>
        <p>Personalize how your dashboard looks and feels.</p>
    </header>

    <form action="#" method="POST" class="settings-form" id="settings-form" >
        {% csrf_token %}
        <section class="settings-section">
            <h2 class="section-title">Appearance</h2>
            <div class="info">
                <p>Language: {{ user_preference.user_language }}</p>
            </div>
            <div class="setting-item">
                <div class="setting-info">
                    <label for="theme">Theme Mode</label>
                    <span>Choose between a light or dark visual interface.</span>
                </div>
                <select name="theme" id="theme" class="setting-input">
                    <!--Options appended by javascript-->
                </select>
            </div>

            <div class="setting-item">
                <div class="setting-info">
                    <label for="font-family">Font Family</label>
                    <span>Select the typeface for your dashboard text.</span>
                </div>
                <select name="font-family" id="font-family" class="setting-input">
                    <!-- Options are appended by javascript -->
                </select>
            </div>

            <div class="setting-item">
                <div class="setting-info">
                    <label for="font-size">Font Size</label>
                    <span>Adjust the scale of the text for readability.</span>
                </div>
                <div class="range-wrapper">
                    <select name="font-size" id="font-size" class="setting-input">
                        <!--Options appended by javascript-->
                    </select>
                </div>
            </div>
        </section>

        <section class="settings-section">
            <h2 class="section-title">Localization</h2>
            <div class="setting-item">
                <div class="setting-info">
                    <label for="language">Language</label>
                    <span>Select your preferred language for the interface.</span>
                </div>
                <select name="language" id="language" class="setting-input">
                    <!-- Options are appended by javascript -->
                </select>
            </div>
        </section>

        <div class="settings-actions">
            <button type="submit" class="save-btn">Save Changes</button>
            <button type="submit" class="cancel-btn">Reset to Default</button>
        </div>
    </form>
</div>
{% endblock %}
{% block extra_js %}
{{block.super}}
<script type="module" src="{% static 'blog/js/settings.js' %}?v={{js_latest}}"></script>
<script type="module" src="{% static 'blog/js/global.js' %}?v={{js_latest}}"></script>
{% endblock %}